body {
    margin: 0;
    font-family: Arial, sans-serif;
}

.wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.header {
    background-color: #f3f3f3;
    padding: 10px;
    text-align: center;
    font-size: 24px;
    font-weight: bold;
    color: #1e73be;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header img {
    height: 50px;
}

.navigation {
    background-color: #e0e0e0;
    display: flex;
    justify-content: space-around;
    padding: 10px 0;
}

.navigation a {
    background-color: #f0f8ff;
    padding: 10px 20px;
    border-radius: 10px;
    font-size: 16px;
    font-weight: bold;
    color: #1e73be;
    text-align: center;
    text-decoration: none;
    flex: 1;
    margin: 0 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.navigation a:hover {
    background-color: #d0e8ff;
}

.navigation a.active {
    background-color: #1e73be;
    color: white;
}

.section {
    flex: 1;
    padding: 20px;
    text-align: center;
    font-size: 24px;
    color: #1e73be;
}

.footer {
    background-color: #f3f3f3;
    padding: 10px;
    text-align: center;
    font-size: 16px;
    color: #1e73be;
}

.banner {
    display: none; 
    text-align: center;
    margin: 20px 0;
}

.banner img {
    max-width: 100%;
    height: auto;
}

/* Styles pour le bouton favori */
.favorite-button {
    background-color: white; /* Couleur de fond initiale (blanc) */
    border: 1px solid #ccc; /* Bordure grise */
    color: #333; /* Couleur du texte */
    padding: 8px 16px; /* Espacement intérieur du bouton */
    cursor: pointer; /* Curseur de type pointeur au survol */
    transition: background-color 0.3s ease; /* Transition fluide pour la couleur de fond */
}

/* Style pour le bouton favori lorsqu'il est actif (clic) */
.favorite-button.favori-active {
    background-color: yellow; /* Couleur de fond jaune */
    color: #333; /* Couleur du texte (peut être modifiée selon vos préférences) */
}

