body {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    flex-direction: column;
  }

  .banniere {
    background-color: #ADD8E6;
    padding: 10px; 
    border-radius: 10px;
    margin-bottom: 20px;
  }

  #carrousel {
    position: relative;
    height: 400px;
    width: 700px;
    margin: auto;
    overflow: hidden; 
  }

  #carrousel ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }

  #carrousel ul li {
    position: absolute;
    top: 0;
    left: 0;
    display: none; 
  }

  h1 {
    text-align: center;
  }

  .boutons {
    display: flex;
    justify-content: center;
    margin-top: 10px;
  }

  button {
    margin: 0 5px;
  }