body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
}

.container {
    display: flex;
    justify-content: space-between;
    margin: 50px auto;
    padding: 20px;
    background-color: white;
    box-shadow: 0 0 10px #1e73be;
    max-width: 1200px;
}

.wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.header {
    background-color: #f3f3f3;
    padding: 10px;
    text-align: center;
    font-size: 24px;
    font-weight: bold;
    color: #1e73be;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header img {
    height: 50px;
}

.navigation {
    background-color: #e0e0e0;
    display: flex;
    justify-content: space-around;
    padding: 10px 0;
}

.navigation a {
    background-color: #f0f8ff;
    padding: 10px 20px;
    border-radius: 10px;
    font-size: 16px;
    font-weight: bold;
    color: #1e73be;
    text-align: center;
    text-decoration: none;
    flex: 1;
    margin: 0 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.navigation a:hover {
    background-color: #d0e8ff;
}

.navigation a.active {
    background-color: #1e73be;
    color: white;
}

.left-panel, .right-panel {
    background-color: white;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.left-panel {
    flex: 1;
    margin-right: 20px;
}

.right-panel {
    flex: 2;
}

.left-panel h1,
.right-panel h1 {
    color: blue; 
}

.jobs h1 {
    text-align: center;
    font-size: 35px;
    color: #1e73be;
    margin-bottom: 20px;
}

.jobs h2 {
    font-size: 24px;
    color: #1e73be;
    margin-bottom: 10px;
}

.jobs h3 {
    font-size: 20px;
    color: #1e73be;
    margin-bottom: 20px;
}

.jobs section {
    margin-bottom: 20px;
}

.jobs ul {
    list-style: none;
    padding: 0;
}

.jobs ul li {
    background-color: #f9f9f9;
    margin: 10px 0;
    padding: 10px;
    border: 1px solid #e0e0e0;
    border-radius: 5px;
}

.jobs ul li h3 {
    font-size: 20px;
    margin: 0 0 5px 0;
    color: #1e73be;
}

.jobs ul li p {
    margin: 5px 0;
    color: #1e73be;
}

form {
    display: flex;
    flex-direction: column;
}

label {
    margin-top: 10px;
}

input, select, button {
    padding: 10px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button {
    background-color: #007BFF;
    color: white;
    cursor: pointer;
    border: none;
}

button:hover {
    background-color: #0056b3;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    color :#0056b3;
    background-color: #f9f9f9;
    padding: 10px;
    margin-top: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
}

.notification.show {
    opacity: 1;
}

h1, h2 {
    text-align: center;
}
