body {
    margin: 0;
    font-family: Arial, sans-serif;
}

.wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.header {
    background-color: #f3f3f3;
    padding: 10px;
    text-align: center;
    font-size: 24px;
    font-weight: bold;
    color: #1e73be;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header img {
    height: 50px;
}

.navigation {
    background-color: #e0e0e0;
    display: flex;
    justify-content: space-around;
    padding: 10px 0;
}

.navigation a {
    background-color: #f0f8ff;
    padding: 10px 20px;
    border-radius: 10px;
    font-size: 16px;
    font-weight: bold;
    color: #1e73be;
    text-align: center;
    text-decoration: none;
    flex: 1;
    margin: 0 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.navigation a:hover {
    background-color: #d0e8ff;
}

.navigation a.active {
    background-color: #1e73be;
    color: white;
}

.section {
    flex: 1;
    padding: 20px;
    text-align: center;
    font-size: 24px;
    color: #1e73be;
}

.footer {
    background-color: #f3f3f3;
    padding: 10px;
    text-align: center;
    font-size: 16px;
    color: #1e73be;
}

.profile-card {
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 1rem;
    width: 300px;
    margin: 0 auto;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.profile-card img.profile-picture {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    object-fit: cover;
}

.user-link {
    text-decoration: none;
    color: #1e73be;
    font-weight: bold;
}

.user-link:hover {
    text-decoration: underline;
}
